---
interface props {
    aviable_work : boolean
}
const {aviable_work } = Astro.props;
// const color = aviable_work ? `bg-blue-900 text-blue-300` : `bg-red-100 text-red-800 bg-red-900 text-red-300`;
---
<span 
    class:list={[
    'text-xs font-medium me-2 px-2.5 py-0.5 rounded',
    {
        'bg-green-900 text-green-300' : aviable_work,
        'bg-red-100 text-red-800 bg-red-900 text-red-300' : !aviable_work
    }
    ]}>
    {aviable_work ? 'Disponible para Trabajar' : 'No disponible para Trabajar'}
</span>