---
import { experience } from "../data/porfolio_data.json";
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = experience;
---

<ol class="relative border-s border-indigo-500 ml-3">
  {
    EXPERIENCIE.map((exp) => (
      <li class="ms-4 group">
        <ExperienceItem {...exp} />
      </li>
    ))
  }
</ol>
