---
import NavbarItem from "./NavbarItem.astro";
import {avatar, name} from "../data/porfolio_data.json";
---

<header class="flex justify-between items-center py-5 px-3 fixed left-0 right-0 top-0 w-full xl:w-[1120px] z-50 mx-auto">
    <img
        class="rounded-full size-12"
        src={avatar}
        alt=`${name} - photo`
    />
    <nav class="flex flex-row gap-x-5 opacity-85">
        <NavbarItem href="#top">
            Inicio
        </NavbarItem>
        <NavbarItem href="#experiencia">
            Experiencia
        </NavbarItem>
        <NavbarItem href="#proyectos">
            Proyectos
        </NavbarItem>
        <NavbarItem href="#sobre-mi">
            Sobre mí
        </NavbarItem>
        <NavbarItem href="#contacto">
            Contacto
        </NavbarItem>
    </nav>
</header>
