---
import { projects } from "../data/porfolio_data.json";
import ProjectCard from "./ProjectCard.astro";
const PROJECTS = projects;
---

<div class="flex flex-col gap-5 w-full">
  {
    PROJECTS.map((project) => (
      <ProjectCard {...project} />
    ))
  }
</div>
<style is:global>
  p strong {
    font-weight: 700;
  }
</style>
