---
interface _TAG {
  display: string;
  class: string;
  icon?: CompositionEvent;
}
const TAGS = {
  "": {
    display: "Any",
    class: "bg-orange-500",
  },
  HTML: {
    display: "HTML",
    class: "bg-orange-500",
  },
  CSS: {
    display: "CSS",
    class: "bg-yellow-500",
  },
  JS: {
    display: "JavaScript",
    class: "bg-gold-500",
  },
  TAILWIND: {
    display: "TailwindCss",
    class: "bg-sky-500",
  },
};
const { tag} = Astro.props;
---

<span
  class=`bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300
  ${Astro.props.class} ${tag.class}`
>
  {tag.display}
</span>
