---
interface _TAG {
  [key: string]: { name: string; class?: string };
}
export const TAGS: _TAG = {
  HTML: {
    name: "HTML",
    class: "bg-orange-800/50 text-orange-300 border-orange-300",
  },
  CSS: {
    name: "CSS",
    class: "bg-blue-800/50 text-blue-300 border-blue-300",
  },
  JS: {
    name: "JavaScript",
    class: "bg-yellow-800/50 text-yellow-300 border-yellow-300",
  },
  TS: {
    name: "TypeScript",
    class: "bg-[#004ecc]/50 text-[#7dd7ff] border-[#7dd7ff]",
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-sky-800/50 text-sky-300 border-indigo-300",
  },
  CS: {
    name: "C#",
    class: "bg-purple-800/50 text-purple-300 border-purple-300",
  },
  REACT: {
    name: "React",
    class: "bg-teal-800/50 text-teal-300 border-teal-300",
  },
  VUE: {
    name: "Vue.js",
    class: "bg-[#0a7144]/50 text-[#76ffc1] border-[#76ffc1]",
  },
  ANGULAR: {
    name: "Angular",
    class: "bg-[#b80018]/50 text-[#ff92a0] border-[#ff92a0]",
  },
  ASTRO: {
    name: "Astro",
    class: "bg-[#a31b09]/50 text-[#ffa66b] border-[#ffa66b]",
  },
  MYSQL: {
    name: "MySql",
    class: "bg-cyan-800/50 text-cyan-300 border-cyan-300",
  },
  PSQL: {
    name: "PostgreSQL",
    class: "bg-[#31579c]/50 text-[#9bb4de] border-[#9bb4de]",
  },
  NET: {
    name: "ASP. Net",
    class: "bg-violet-800/50 text-violet-300 border-violet-300",
  },
  EXCEL: {
    name: "Excel",
    class: "bg-green-800/50 text-green-300 border-green-300",
  },
  VB: {
    name: "VB",
    class: "bg-lime-800/50 text-lime-300 border-lime-300",
  },
  WPF: {
    name: "WPF",
    class: "bg-emerald-800/50 text-emerald-300 border-emerald-300",
  },
  PHP: {
    name: "PHP",
    class: "bg-pink-800/50 text-pink-300 border-pink-300",
  },
  SBOOK: {
    name: "StoryBook",
    class: "bg-red-800/50 text-red-300 border-red-300",
  },
  DATASET: {
    name: "DataSet",
    class: "bg-[#2f4a9d]/50 text-[#a0c7f0] border-[#a0c7f0]",
  },
  API: {
    name: "API",
    class: "bg-[#86341a]/50 text-[#f3b97e] border-[#f3b97e]",
  },
  FIGMA: {
    name: "Figma",
    class: "bg-[#b80018]/50 text-[#ff92a0] border-[#ff92a0]",
  },
  JAVA: {
    name: "Java",
    class: "bg-[#b82200]/50 text-[#ffa692] border-[#ffa692]",
  },
  NODE: {
    name: "Node.js",
    class: "bg-[#2b690b]/50 text-[#9cfe58] border-[#9cfe58]",
  },
  NEXT: {
    name: "Next.js",
    class: "bg-[#365154]/50 text-[#99c7c6] border-[#99c7c6]",
  },
  DSYS: {
    name: "Design Systems",
    class: "bg-[#b800b5]/50 text-[#ff9af9] border-[#ff9af9]",
  },
  ATOMIC: {
    name: "Atomic Design",
    class: "bg-[#962d1e]/50 text-[#fab1a7] border-[#fab1a7]",
  },
  DOC: {
    name: "Documentation",
    class: "bg-slate-800/50 text-slate-300 border-slate-300",
  },
  PWRIGHT: {
    name: "PLaywright",
    class: "bg-[#aa0033]/50 text-[#ff99a8] border-[#ff99a8]",
  },
  AWS: {
    name: "AWS",
    class: "bg-[#5e3198]/50 text-[#d2bdf5] border-[#d2bdf5]",
  },
  IA: {
    name: "IA",
    class: "bg-[#006d70]/50 text-[#3dfffc] border-[#3dfffc]",
  },
  QWIK: {
    name: "Qwik",
    class: "bg-[#0919ca]/50 text-[#88b2ff] border-[#88b2ff]",
  },
};
const { tag } = Astro.props;
---

<span
  class:list={[
    "text-xs font-medium px-2.5 py-0.5 rounded border-2 text-balance",
    "hover:scale-150 delay-300 hover:delay-0 duration-1000 hover:duration-300 transition cursor-default",
    Astro.props.class,
    TAGS[tag]
      ? TAGS[tag].class
      : "bg-stone-800/50 text-stone-300 border-stone-300",
  ]}
>
  {TAGS[tag] ? TAGS[tag].name : tag}
</span>
